<!doctype html>
<html lang="en">

{% load static%}


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <title>checkweather!</title>
  </head>
  <body  class="d-flex flex-column min-vh-100">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-3 mb-5 my_nav">
        <div class="container">
          <a class="navbar-brand" href="#">Nana's Weather App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--Navbar-->

    <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top: 90px; color: white;">
      <h1>WEATHER</h1>
      <h6 class="txt">Check the weather condition in any city in the world.</h6>
      <img  src="{% static 'sun.ico' %}" class="image justify-content-center" style="width:100px;" alt="">
    </div>
    
    

    <!--Searchbar-->
    <div class="search">
        <div container-fluid>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-8">
                  <form method="POST">
                  {% csrf_token%}
                    <div class="input-group  mb-3 search">
                        <input type="text" class="form-control" name="city" placeholder="type your city..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-success" type="submit" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></i></button>
                    </div>
                  </form>  
                </div>
            </div>
        </div>
    </div>
    <!--Searchbar-->

   


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-4">
        {% if country_code and coordinate and temp and pressure and humidity %}
        <div class="card  text-white bg-primary mb-3" style="max-width: 20rem; font-size: 1rem;">
          <div class="card-header">Weather Condition</div>
          <div class="card-body">
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Country Code:</div> {{country_code}}</h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Coordinates [X, Y]:</div> {{coordinate}}</h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Pressure:</div> {{pressure}}</h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Humidity:</div> {{humidity}}</h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Temperature:</div> {{temp}}</h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Forecast:</div> {{main}} <img src="http://openweathermap.org/img/w/{{icon}}.png" style="width: 70px;" alt=""> </h6>
            <h6><div class="badge bg-success text-wrap" style="max-width: 12rem;">Description:</div> {{description}}</h6>
          </div>
        </div>
        {% endif %} 
        </div> 
      </div>    
    </div>

    

  
  
    


    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>

  <footer class="mt-auto footer">
    <center>
        <p class="footer-text">
           &copy;
           {% now 'Y' %} 
           Charles Nana.
           All rights reserved
        </p>
    </center>
</footer>

</html>